{% import "macros.html" as macro %}
{% extends "layout.html" %}

{%block title %}Denuncias{% endblock %}
{%block super %}<h2>Denuncias</h2>{% endblock %}
{%block dosiers %}background1{% endblock %}

{% block main %}

<nav>
    <ul class="tab">
        <li><a href="#" class="tablinks" onclick="openTab(event, 'running')">En trámite</a></li>
        <li><a href="#" class="tablinks" onclick="openTab(event, 'drafts')">Borradores</a></li>
        <li><a href="#" class="tablinks" onclick="openTab(event, 'done')">Cerradas</a></li>
        <li>
            {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
                <a href="/complains/new/">Nueva...</a>
            {% endif %}
        </li>
    </ul>
</nav>

<div id="running" class="tabcontent">
    {{ macro.listItems('complains', running) }}
</div>

<div id="drafts" class="tabcontent">
    {{ macro.listItems('complains', drafts) }}
</div>

<div id="done" class="tabcontent">
    {{ macro.listItems('complains', done) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
