{% extends "form.html" %}
{% block form %}

    <form action="/requests/{{ _id }}" method="post">
        <label>Asunto</label>
        <input class="u-full-width" name="overview" value="{{ req['overview'] }}" required autofocus>
        <label>Detalle</label>
        <textarea class="u-full-width" name="detail" required>{{ req['detail'] }}</textarea>
        {% if _id != 'new/' %}
            <label>Referencia</label>
            <input name="ref" value="{{ req['ref'] }}" placeholder="Opcional">
        {% else %}
            <input type="hidden" name="ref" value="">
        {% endif %}
        <label>Fecha</label>
        <input type="date" name="date" value="{{ req['date'] }}" required>
        <label>Caso</label>
        <select class="u-full-width" name="case_id">
            <option value=""></option>
            {% for case in cases %}
                <option value="{{ case['_id'] }}" 
                    {% if case['_id']|string() == req['case_id']|string() %}
                        selected
                    {% endif %}>
                    {{ case['title'] }}
                </option>
            {% endfor %}
        </select>
        <label>Oficina</label>
        <select class="u-full-width" name="office_id">
            {% for office in offices %}
                <option value="{{ office['_id'] }}" 
                    {% if office['_id']|string() == req['office_id']|string() %}
                        selected
                    {% endif %}>
                    {{ office['acronym'] }} - {{ office['name'] }}
                </option>
            {% endfor %}
        </select>
        {% if who['kind'] == 'OPR' %}
            <label>Inicio</label>
            <input name="start" type="date" value="{{ req['start'] }}">
            <label>Finalización</label>
            <input name="finish" type="date" value="{{ req['finish'] }}">
            <label>Estado</label>
            <select name='status'>
                {% for s in status %}
                    <option value="{{ loop.index0 }}" {% if req['status']|int() == loop.index0 %}selected{% endif %}>{{ s }}</option>
                {% endfor %}             
            </select>
            <label>Resultado</label>
            <select name='result'>
                {% for k in results %}
                    <option value="{{ k }}" {% if req['result']|string() == k|string() %}selected{% endif %}>{{ results[k] }}</option>
                {% endfor %}
            </select>
            <label>Comentarios</label>
            <textarea class="u-full-width" name="comment">{{ req['comment'] }}</textarea>
        {% else %}
            <input type="hidden" name="start" value="{{ req['start'] }}">
            <input type="hidden" name="finish" value="{{ req['finish'] }}">
            <input type="hidden" name="status" value="{{ req['status'] }}">
            <input type="hidden" name="result" value="{{ req['result'] }}">
            <input type="hidden" name="comment" value="{{ req['comment'] }}">
        {% endif %}
        <button>Enviar</button>
    </form>

    {% if who['kind'] == 'OPR' and _id != 'new/' %}

    <div class="row background-light-gray">
        <p><strong>Usuarios con derechos de edición:</strong></p>
            {% for user in users_right%}
                {{ user['name'] }}
		{% if not loop.last %}, {% endif %}
            {% endfor %}

        <form action='/rights/new/' method='post'>
            <select class="ten columns" name='user_id'>
                {% for user in users_list %}
                    <option value="{{ user['_id'] }}">{{ user['name'] }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="source" value="request">
            <input type="hidden" name='source_id' value="{{ req['_id'] }}">
            <button class="two columns">Agregar</button>
        </form>

    </div>

    {% endif %}
        


{% endblock %}
