{% import 'macros.html' as macro %}
{% extends "layout.html" %}

{% block title %}Solicitudes de información{% endblock %}
{% block super %}<h2>Solicitudes de información</h2>{% endblock %}
{% block dosiers %}background1{% endblock %}

{% block main %}

<nav>
    <ul class="tab">
        <li><a href="#running" class="tablinks" onclick="openTab(event, 'running')">En trámite</a></li>
        <li><a href="#drafts" class="tablinks" onclick="openTab(event, 'drafts')">Borradores</a></li>
        <li><a href="#done" class="tablinks" onclick="openTab(event, 'done')">Cerradas</a></li>
        {% if who['kind'] in ['OPR', 'USR', 'MNR', 'GSS'] %}
            <li><a href="/requests/new/">Nueva...</a></li>
        {% endif %}
    </ul>
</nav>

<div id="running" class="tabcontent">
    {{ macro.listItems('requests', running) }}
</div>

<div id="drafts" class="tabcontent">
    {{ macro.listItems('requests', drafts) }}
</div>

<div id="done" class="tabcontent">
    {{ macro.listItems('requests', done) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
