textarea {
    height: 240px;
}

a {
    text-decoration: none;
    color: #0066CC;
}

.background1 {
    background: #69D2E7;
}

.background2 {
    background: #A7DBD8;
}

.background3 {
    background: #E0E4CC;
}

.background-light-gray {
    background: #EFEFEF;
}

.center {
    text-align: center;
}

nav ul {
    border-bottom: 1px solid #EFEFEF;
}

nav li {
    display: inline;
    padding: 10px 10px 5px 10px;
}

.row {
    padding: 10px;
}

.border-bottom {
    border-bottom: 1px solid #EFEFEF;
}

input {
    display: block;
}
