body {
    font-family: Roboto;
    font-size: 16px;
}

.container {
    width: 100%;
}

textarea {
    height: 240px;
}

a {
    text-decoration: none;
    color: #376092;
}

.background1 {
    background: #376092;
    color: white;
}

.background1 a {
    color: white;
}

.background2 {
    background: #A7DBD8;
}

.background3 {
    background: #E0E4CC;
}

.background-light-gray {
    background: #F0F8FF;
    box-shadow: 5px 5px 5px #D0D6DD;
    margin-bottom: 30px;
}

.background-white-gray {
    background: white;
    box-shadow: 5px 5px 5px #D0D6DD;
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

nav ul {
    border-bottom: 1px solid #EFEFEF;
}

nav li {
    display: inline;
    padding: 10px 10px 5px 10px;
}

.row {
    padding: 10px;
}

.border-bottom {
    border-bottom: 1px solid #EFEFEF;
}

input {
    display: block;
}

article img {
    float: right;
    padding-left: 10px;
    margin-bottom: 60px;
    max-width: 100%;
}

.inline {
    display: inline;
}

.logo {
    max-width: 60%;
}

.uppercase {
    text-transform: uppercase;
}

.logo-min {
    height: 1.6em;
    max-width: 100%;
}

.middle {
    position: relative;
    top: 50%;
}

.menu {
    font-size: 75%;
}

.main-button {
    margin: 20px;
    padding: 20px;
    border: 1px solid #376092;
    border-radius: 20px;
    font-size: 150%;
}

.main-button:hover {
    background: #F0F8FF;
}

@media only screen and (max-width: 620px) {
    #menubar {
        position: absolute;
        top: 0px;
        right: 20px;
        width: 32px;
        height: 32px;
        overflow: hidden;
        color: blue;
    }
    #menubar:hover {
        top: 0;
        left: 5px;
        opacity: 0.95;
        width: 100%;
        height: 75%;
        z-index: 99;
        background: white;
        color: black;
        text-align: left;
    }
}
@media only screen and (min-width: 621px) {
    #menuheader {
        display: none;
    }
}
