{% import "ticket/macros.html" as macro %}
{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<div class="row">
<h2>Tickets</h2>
</div>
<div class="row center">
    <form action="/ticket/search" method="post"> 
        <input class="columns eight" name="words" value="{{ words }}"
            placeholder="Palabras de búsqueda">
        <button class="columns two">Buscar</button>
    </form>
</div>
 
{{ macro.navTicket(rng, status) }}

<p>
{% for ticket in tickets %}
        <a href="/ticket/{{ticket['year']}}/{{ticket['ticket']}}">
            <strong>{{ ticket['ticket'] }}/{{ ticket['year'] }}</strong>
        </a>
        {{ ticket['msg'] }}
        <br/>
{% endfor %}
</p>

{{ macro.navTicket(rng, status) }}
   
{% endblock %}
