{% import "ticket/macros.html" as macro %}
{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<div class="row">
<h3>Tickets de usuarios</h3>
</div>

<div class="row background-light-gray">
    Esta es la sección de administración de tickets. Contiene la lista de
    tickets según su estado (abiertos o cerrados).
</div>

{{ macro.navTicket(rng, status) }}
   
{% for ticket in tickets %}
    <div>
        {% set pos = ticket['msg'].find('\n') %}
        <a href="/ticket/{{ticket['year']}}/{{ticket['ticket']}}">
            <strong>{{ ticket['ticket'] }}/{{ ticket['year'] }}</strong>
        </a>
        {{ ticket['msg'][:pos] }}
    
        {% if 'status' in ticket and ticket['status'] == 'closed' %}
            <form class="inline" action="/ticket/open" method="post">
                <input name="ticket_id" type="hidden" 
                    value="{{ ticket['_id'] }}">
                <button class="inline">Reabrir</button>
            </form>
        {% else %}
            <form class="inline" action="/ticket/close" method="post">
                <input name="ticket_id" type="hidden" 
                    value="{{ ticket['_id'] }}">
                <button class="inline">Cerrar</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

{{ macro.navTicket(rng, status) }}
   
{% endblock %}
