{% extends "ticket/layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<div class="row background-light-gray">
    <div class="two columns center">
        <img src="/static/third/icons/svg/bulb.svg" width="64px">
    </div>
    <div class="ten columns">
        
        <p><strong>¿Qué es ALAC?</strong></p>

        <p>ALAC es un servicio gratuito y confidencial de asesoría legal e
        incidencia. Ofrece asistencia a personas que solicitan información o
        que desean denunciar irregularidades en alguna institución pública. La
        asesoría ayuda a identificar:</p>
        
        <ul>
            <li>Qué documentos solicitar y ante qué oficina hacerlo</li>
            <li>Cómo redactar una solicitud o denuncia</li>
            <li>Qué hacer en caso de denegatoria o falta de respuesta</li>
        </ul>

        <p>Además, cuando existe algún riesgo para la persona interesada y se
        trate de una causa de interés público, desde ALAC podemos hacer las
        solicitudes de información o presentar la denuncia.</p>

    </div>
</div>

<div class="row">
    <div class="two columns center">
        <img src="/static/third/icons/svg/mail.svg" width="64px">
    </div>
    <div class="ten columns">
<p><strong>¿Cómo puedes contactar a ALAC?</strong></p>
<p>Las vías para contar a ALAC son:</p>
<ul>
<li>Presencial: En la oficina de ALAC, ubicada en las instalaciones de la Fundación Nacional para el Desarrollo (FUNDE). Calle Arturo Ambrogi No. 411, colonia Escalón, San Salvador, El Salvador.</li>
<li>Web: Por medio del formulario en línea: <a href="http://alac.funde.org" class="uri">http://alac.funde.org</a>. Si deseas dar seguimiento por esta vía, recibirás un número de ticket.</li>
<li>Correo electrónico: Puedes escribir a <a href="mailto:alac@funde.org">alac@funde.org</a></li>
<li>Teléfono: Puedes llamar al 2209-5324 o 7987-1688 (o por Whatsapp)</li>
</ul>
    </div>
</div>

<div class="row background-light-gray">
    <div class="two columns center">
        <img src="/static/third/icons/svg/folder-ribbon.svg" width="64px">
    </div>
    <div class="ten columns">
        <p><strong>¿Cómo protege ALAC a sus usuarios?</strong></p>
<p>Para ALAC, la protección de los usuarios es un compromiso primordial. Para ello:</p>
<ul>
<li>No se recolectan ni almacenan datos personales.</li>
<li>El usuario no necesita identificarse para hacer uso de los servicios de ALAC. Lo único que se pide, en los casos que requieren seguimiento, es una dirección de correo electrónico o un número telefónico para mantener la comunicación.</li>
<li>Ante casos sensibles, por ejemplo en los que exista un alto riesgo de sufrir represalias, se toman medidas adicionales para garantizar el éxito de la denuncia.</li>
</ul>
<p>El trabajo se realiza observando políticas establecidas, las cuales han sido formuladas tomando de base buenas prácticas de ALAC en otros países.</p>
<ul>
<li><a href="https://drive.google.com/file/d/0B_EeQwuQ9xtyT0xrdXlUMkRzSnM">Estrategia de mejora continua</a></li>
<li><a href="https://drive.google.com/open?id=0B_EeQwuQ9xtyYnlSVV9lRGpUWEU">Protocolo de atención</a></li>
<li><a href="https://drive.google.com/open?id=0B_EeQwuQ9xtyd1RGU0YxTGpGQUk">Política para la gestión de casos sensibles</a></li>
</ul>


    </div>
</div>


<div class="row">
    <div class="two columns center">
        <img src="/static/third/icons/svg/network.svg" width="64px">
    </div>
    <div class="ten columns">
        <p><strong>¿Qué otros servicios ofrece ALAC?</strong></p>

        <p>A partir del análisis de los casos atendidos e investigaciones especiales, ALAC:</p>
        <ul>
        <li>Plantea recomendaciones a diferentes instituciones públicas para mejorar el acceso a la información pública, atender de forma más efectiva las denuncias de corrupción y, especialmente, proteger a las personas denunciantes.</li>
        <li>Colabora en capacitaciones con organizaciones sociales y comunitarias para promover el ejercicio de los derechos de acceso a la información pública y de denuncia de la corrupción.</li>
        </ul>
        <p><strong>ALAC no puede:</strong></p>
            <ul>
        <li>Ejercer representación legal o actuar como parte en un proceso judicial</li>
        <li>Sustituir a las autoridades en la investigación de casos de corrupción</li>
        </ul>

    </div>
</div>

<div class="row  background-light-gray">
    <div class="two columns center">
        <img src="/static/third/icons/svg/avatar.svg" width="64px">
    </div>
    <div class="ten columns">
<p><strong>¿Quiénes operan ALAC?</strong></p>
<p>El equipo de ALAC está integrado por profesionales en derecho y especialistas en transparencia y anticorrupción.</p>
<p>ALAC es un servicio de la <a href="http://www.funde.org/">Fundación Nacional para el Desarrollo (FUNDE)</a>, organización civil sin fines de lucro, que representa a <a href="https://www.transparency.org/">Transparencia Internacional</a> en El Salvador, la mayor red global dedicada a la lucha contra la corrupción. Existen alrededor de 100 ALAC en más de 60 países alrededor del mundo. Funciona con donaciones de organismos de cooperación y fundaciones privadas. En la actualidad, está financiado por el Proyecto de USAID El Salvador Pro-Integridad Pública.</p>
    </div>
</div>

{% endblock %}
