{% extends "layout.html" %}
{% block main %}


<div class="row background-light-gray">
    <div class="three columns center">
        <img src="/static/third/icons/svg/pen-letter.svg" width="64px">
    </div>
    <div class="nine columns">
        Notas con análisis y relatos de experiencias en casos de acceso a la
        información pública y denuncias de corrupción. 
        {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
            [<a href="/notes/new/">Nueva...</a>]
        {% endif %}
    </div>
</div>

{% for note in notes %}
    <div class="row">
        <big><a href="/notes/{{ note['_id'] }}">{{ note['title'] }}</a></big>.
        <small>{{ note['date'] }}</small>
        {{ note['content'] | safe }}
    </div>
{% endfor %}

{% endblock %}
