{% extends "layout.html" %}
{% block main %}

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href="/notes/new/">Nueva</a></div>

{% endif %}

    {% for note in notes %}
        <div class="row">
            <p><big><a href="/notes/{{ note['_id'] }}">{{ note['title'] }}</a></big>.
            <small>{{ note['date'] }}</small></p>
            {{ note['content'] | safe }}
            <a href="/notes/{{ note['_id'] }}">Leer más...</a>
        </div>
    {% endfor %}

{% endblock %}
