{% extends "ticket/layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<div class="row center">
        ¿Quieres denunciar un acto irregular o mal uso de recursos en
        una institución pública?<br/>
        Estamos para servirte. Haz tu consulta.
        El servicio es gratuito y confidencial.</p>
</div>
    

<div class="row">
    <div class="six columns">
        <img src="/static/third/icons/svg/pen-letter.svg" width="64px">
        <h3>Una nueva consulta:</h3>
            
        <a class="button" href="/ticket">Consultar</a>
    </div>
    <div class="six columns">
        <img src="/static/third/icons/svg/calendar.svg" width="64px">
        <h3>Dar seguimiento:</h3>
        <form action="/ticket" method="post">
            <input name="year" placeholder="Año" value="{{ year }}" required>
            <input name="ticket" value="{{ ticket }}" placeholder="Número de ticket" required>
            <input name="email" type="email" value="{{ email }}" placeholder="Correo electrónico" required>
            <button class="">Enviar</button>
            <input type="checkbox" name="remember" {% if remember %}checked{% endif %}>Recordar
        </form>
    </div>
</div>

{% endblock %}
