{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<div class="row background-light-gray">
    ALAC es un servicio gratuito y confidencial de asesoría legal e incidencia. Ofrece asistencia a personas que solicitan información o que desean denunciar irregularidades en alguna institución pública. La asesoría ayuda a identificar: qué documentos solicitar y ante qué oficina hacerlo; cómo redactar una solicitud o denuncia; y qué hacer en caso de denegatoria o falta de respuesta. <a href="/faq">Más información...</a>
</div>
 
<div class="row">
    <div class="six columns">
        <a href="/ticket"><img src="/static/third/icons/svg/pen-letter.svg" width="64px"></a>
        <h3>Una nueva consulta:</h3>
            
        <a class="button button-primary" href="/ticket">Consultar</a>
        <p>¿Tienes dudas sobre cómo solicitar información pública? ¿Quieres denunciar un acto irregular o mal uso de recursos públicos? <a href="/ticket">Haz tu consulta</a>.</p>
    </div>
    <div class="six columns">
        <img src="/static/third/icons/svg/calendar.svg" width="64px">
        <h3>Dar seguimiento:</h3>
        <form action="/ticket" method="post">
            <input type="text" name="year" placeholder="Año" value="{{ year }}" required>
            <input type="text" name="ticket" value="{{ ticket }}" placeholder="Número de ticket" required>
            <input name="email" type="email" value="{{ email }}" placeholder="Correo electrónico" required>
            <button class="button-primary">Enviar</button>
            <input type="checkbox" name="remember" {% if remember %}checked{% endif %}>Recordar
        </form>
        <p>Luego de hacer tu consulta, si dejas tu dirección de correo,
        recibirás un número de ticket, con el cual podrás dar seguimiento al
        requerimiento.</p>
    </div>
</div>

{% endblock %}
