<div class="CenteredContainer">

<div class="row">
    <h3>Ticket: {{ ticket['ticket'] }}/{{ ticket['year'] }}</h3>
</div>

</div>
{% if threads %}


    {% for thread in threads %}
    <div 
    {% if thread['name'] != '' %}
	    class="row background-white-gray"
     {% else %}
	    class="row background-light-gray"
	{% endif %}
    >
    <p class="border-bottom">
        <small>
        {{ thread['date'] }} - 
    {% if thread['name'] != '' %}
        {{ thread['name'] }}
    {% else %}
        Usuario(a)
    {% endif %}

        {% if who %}
            [<a href="/threads/{{ thread['_id'] }}/edit">Editar...</a>]
        {% endif %}

        </small>
    </p>
        
        {{ thread['msg'] | safe }}

        {% if  docs[thread['_id'] | string] %}

        <p><strong>Anexos:</strong></p>

        <ul>
        {% for doc in docs[thread['_id'] | string] %}
            <li class="ListItem">
                <a href="/attachment/{{ doc['_id']}}">{{
                        doc['path'][(doc['path'].rfind('/') + 1):] }}</a>
            </li>
        {% endfor %}
        </ul>

        {% endif %}
    </div>
    {% endfor %}

{% endif %}

</div>
