{% extends "layout.html" %}

{% block head %}

<script type="text/javascript"
        src="{{ url_for('static', filename='js/userform.js') }}"
        charset="utf-8">
</script>

{% endblock %}

{% block main %}


<div id="previous"></div>

<div class="row">
    <div class="eight columns">
        <form>
        <input id="year" type="hidden" value="{{ data['year'] }}">
        <input id="ticket" type="hidden" value="{{ data['ticket'] }}">
        <input id="ticket_id" type="hidden" value="{{ data['ticket_id'] }}">
        <label>Consulta</label>
        <textarea class="u-full-width" id="msg" rows="10" placeholder="Describa su consulta" required></textarea>
        <div id="msgalert" class="alert"></div>
        <label>Agregar documentos (opcional)</label>
        <ul id="filelist"></ul>
        <input id="file" type="file" multiple>
        <div id="contact">
            <label>Contacto (opcional)</label>
            <input id="email" type="email" value="{{ data['email'] }}" placeholder="Correo electrónico" required>
            <input id="anonymous" type="checkbox">Anónimo<br/>
        </div>
        <button class="button-primary"  id="send">Enviar</button><span id="Processing"></span>
        </form>
    </div>
    <div class="four columns">
    <label id="request">
        <div class="center">
            <img src="/static/third/icons/svg/checklist.svg" width="64px">
        </div>
        <p><small>
        Su consulta es confidencial. Describa su requerimiento de información pública o la irregularidad que
        desea reportar. Entre los datos, si es pertinente,
        mencione: nombres, lugares, períodos o fechas, circunstancias, etc. Si
        desea que le contactemos para ampliar la información, indique sus datos
        de contacto.
        Si tiene documentos, imagenes u otros archivos que desee compartir,
        puede agregarlos en esta sección (hasta 5 archivos, tamaño máximo de cada archivo: 16MB).
        </small><p>
    </label>
    </div>
</div>

{% endblock %}


