{% extends "layout.html" %}

{% block main %}
    {% if ticket.hash %}
    <div class="row">
        <h3>Ticket: {{ ticket.ticket }}/{{ ticket.year }}<br/>
        <small>{{ ticket.msg }}</small>
        </h3>
        {% if who %}
            <a class="button" href="/ticket/{{ ticket.year }}/{{ ticket.ticket }}/msg">Editar</a>
            {% if ticket.status == 'closed' %}
                <form class="inline" action="/ticket/open" method="post">
                    <input name="ticket_id" type="hidden" 
                        value="{{ ticket.hash }}">
                    <button class="inline">Reabrir</button>
                </form>
            {% else %}
                <form class="inline" action="/ticket/close" method="post">
                    <input name="ticket_id" type="hidden" 
                        value="{{ ticket.hash }}">
                    <button class="inline">Cerrar</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    {% if ticket.threads %}
        {% for thread in ticket.threads %}
            {% set thrd = thread['_id'] %}
            <div {% if thread['name'] != '' %} class="row background-white-gray" {% else %} class="row background-light-gray" {% endif %}>
                <p class="border-bottom">
                    <small>
                        {{ thread['date'] }} 
                        {% if thread['name'] != '' %}
                            - {{ thread['name'] }}
                        {% endif %}
                        {% if who %}
                            [<a href="/threads/{{ thread['_id'] }}/edit">Editar...</a>]
                        {% endif %}
                    </small>
                </p>
                {{ thread['msg'] | safe }}
                {% if ticket.docs[thread['_id']] %}
                    <p>Anexos:</p>
                    <ul>
                        {% for doc in ticket.docs[thread['_id']] %}
                            <li>
                                <a href="/attachment/{{ doc['_id'] }}">
                                {% if 'desc' in doc.keys() %}
                                    {{ doc['desc'] }}
                                {% else %}
                                    {{ doc['path'][(doc['path'].rfind('/') + 1):] }}
                                {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if loop.last %}
                <div class="row background-light-gray">
                    <p><strong>Agregar documento:</strong></p>
                    <form action="/attachment/upload" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="year" value="{{ ticket.year }}">
                        <input type="hidden" name="ticket" value="{{ ticket.ticket }}">
                        <input type="hidden" name="email" value="{{ ticket.email }}">
                        <input type="hidden" name="ticket_id" value="{{ ticket.hash }}">
                        <input type="hidden" name="thread_id" value="{{ thread['_id'] }}">
                        <input class="inline" name="desc" type="text" placeholder="Descripción del documento">
                        <input class="inline" name="file" type="file" required>
                        <button class="inline">Enviar</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="eight columns">
            <form action="/ticket/new" method="post">
                <input name="year" type="hidden" value="{{ ticket.year }}">
                <input name="ticket" type="hidden" value="{{ ticket.ticket }}">
                <input name="ticket_id" type="hidden" value="{{ ticket.hash }}">
                {% if ticket.hash %}
                    <label>Agregar comentario</label>
                {% else %}
                    <label>Consulta</label>
                {% endif %}
                <textarea class="u-full-width" name="msg" rows="10" placeholder="Describa su consulta" required></textarea>
                <div id="msgalert" class="alert"></div>
                {% if not ticket.email %}
                    <label>Contacto</label>
                    <input name="email" type="email" placeholder="Correo (opcional)">
                {% else %}
                    <input name="email" type="hidden" value="{{ ticket.email }}">
                {% endif %}
                <button class="button-primary" id="send">Enviar</button>
            </form>
        </div>
        <div class="four columns">
            <label id="request">
                <div class="center">
                    <img src="/static/third/icons/svg/checklist.svg" width="64px">
                </div>
                <p>
                    <small>
                        Su consulta es confidencial. Describa su requerimiento
                        de información pública o la irregularidad que desea
                        reportar.  Entre los datos, si es pertinente, mencione:
                        nombres, lugares, períodos o fechas, circunstancias,
                        etc. Si desea dar seguimiento, indique sus datos de
                        contacto.
                    </small>
                <p>
            </label>
        </div>
    </div>
{% endblock %}
