{% extends "layout.html" %}

{% block title %}{{ note['title'] }}{% endblock %}
{% block super %}Blog{% endblock %}
{% block blog %}background1{% endblock %}

{% block main %}

<article class="row">
    <h4 class="border-bottom">{{ note['title'] }}</h4>
    <time><small>{{ note['date'] }}</small></time>
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <small>[<a href='/notes/{{ note['_id'] }}/edit'>Editar</a>]</small>
    {% endif %}
    {{ note['content'] | safe }}
</article>

{% endblock %}
