body {
    font-family: 'Ubuntu', 'Tahoma', sans;
    font-size: 12px;
    margin: 0px;
    padding-top: 0px;
}

h1, h2, h3 {
    font-weight: normal;
}

.Header {
    background-color: #008CBA;
    color: white;
    margin: 0;
    margin-top: 0px;
    padding: 10px 10px 0px 10px;
    position: fixed;
    height: 95px;
    width: 100%;
    top: 0px;
}

.Header h1 {
    display: inline-block;
    white-space: nowrap;
}

.Main {
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 30px;
    line-height: 140%;
}

.Footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color: white;
    background-color: #008CBA;
    background-color: #008CBA;
}

label, input, textarea, select {
    display: block;
    font-size: 12px;
    font-family: 'Ubuntu', 'Tahoma', sans;
}

.TextInput {
    width: 440px;
}

.TextArea {
    width: 450px;
    height: 240px;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
   background-color: #00AFDE;
}

.Inline {
    display: inline;
    vertical-align: top;
}

.MenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #008CBA;
}

.MenuItem {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.MenuItem a {
    text-decoration: none;
    color: white;
}

.MenuItem:hover {
   background-color: #00AFDE;
}

.MenuCaution {
    background-color: #FF3300;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.MenuCaution a {
    text-decoration: none;
    color: white;
}

.MenuCaution:hover {
   background-color: #FF5C33;
}


.ListItem {
    line-height: 160%;
    list-style-type: none;
}

.List {
    list-style-type: none;
    padding: 0;
}

.ListItem a {
    text-decoration: none;
    color: black;
}

.ListItem:last-child {
    border: none;
}

.ListItem a:hover {
   background-color: #00AFDE;
   color: white;
}

.ListItem:nth-child(odd) {
    background-color: #E0EEEE;
}

ul.tab {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

ul.tab li {
    float: left;
    margin-right: 5px;
    background-color: #008CBA;
}

ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.3s;
}

ul.tab li a:hover {
   background-color: #00AFDE;
}

ul.tab li a:focus, .active {
   background-color: #00AFDE;
}

.tabcontent {
    display: none;
    border-top: none;
    padding-top: 5px;
}

.Center {
    text-align: center;
}

td {
	vertical-align: top;
	padding: 2px;
}
