body {
    font-family: 'Ubuntu', 'Tahoma', sans;
    font-size: 12px;
    margin: 0px;
    padding-top: 0px;
}

h1, h2, h3 {
    font-weight: normal;
}

table {
    width: 100%;
}

td {
	vertical-align: top;
	padding: 2px;
}

td a {
	color: #553;
}

td p {
	margin: 0;
}

.Footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color: white;
    background-color: #01b1af;
}

.Footer a {
    color: white;
    text-decoration: none;
}

.Header {
    background-color: #01b1af;
    color: white;
    margin: 0;
    margin-top: 0px;
    padding: 10px 10px 0px 10px;
    position: fixed;
    height: 24px;
    width: 100%;
    top: 0px;
}

.Header h1 {
    display: inline-block;
    white-space: nowrap;
}

.Main {
    margin: 10px;
    padding-top: 25px;
    padding-bottom: 30px;
}

label, input, textarea, select {
    display: block;
    font-size: 12px;
    font-family: 'Ubuntu', 'Tahoma', sans;
    margin-top: 10px;
}

label {
}

.TextInput {
    width: 440px;
}

.TextArea {
    width: 450px;
    height: 240px;
}

button, .Button {
    margin-top: 5px;
    background-color: #0ea09e;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, .Button:hover {
   background-color: #057e7d;
}

.Button a {
    color: white;
    text-decoration: none;
}

.Inline {
    display: inline;
    vertical-align: top;
}

.MenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #01b1af;
}

.MenuItem {
    background-color: #0ea09e;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px 5px 0 0;
}

.MenuItem a {
    text-decoration: none;
    color: white;
}

.MenuItem:hover {
   background-color: #057e7d;
}

.MenuCaution {
    background-color: #FF3300;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px 5px 0 0;
}

.MenuCaution a {
    text-decoration: none;
    color: white;
}

.MenuCaution:hover {
   background-color: #057e7d;
}

.SmallButton {
    background-color: #0ea09e;
    border: none;
    color: white;
    padding: 0 8px 0 8px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    display: inline-block;
}

.SmallButton a {
    color: white;
}

.DeleteButton {
    background-color: red;
    border: none;
    color: white;
    padding: 0 8px 0 8px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    display: inline-block;
}

.DeleteButton a {
    color: white;
}

.ListItem {
    line-height: 160%;
    list-style-type: none;
}

.List {
    list-style-type: none;
    padding: 0;
}

a, .ListItem a {
    text-decoration: none;
    color: #005000;
}

.ListItem:last-child {
    border: none;
}

a:hover, .ListItem a:hover {
   color: #555;
}

.ListItem:nth-child(odd) {
   background-color: #ddffff;
}

ul.tab {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px 0px 0;
    overflow: hidden;
}

ul.tab li {
    float: left;
    margin-right: 3px;
    background-color: #0ea09e;
    border-radius: 5px 5px 0 0;
}

ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.3s;
}

ul.tab li a:hover {
   background-color: #057e7d;
    border-radius: 5px 5px 0 0;
}

ul.tab li a:focus, .active {
    background-color: #057e7d;
    border-radius: 5px 5px 0 0;
}

.tabcontent {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}

.Center {
    text-align: center;
}

.CautionSet {
    margin-top: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    background: #FEF;
}

.Login {
    position: fixed;
    right: 5px;
    color: white;
    font-size: 90%;
}

.Login a {
    color: white;
    text-decoration: none;
}
