<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div class="container">
            <div id="search" class="row center">
                <h1>Resoluciones del IAIP</h1>
                <form action="/iaip" method="get">
                    <input name="query" class="ten columns" type="text" {% if query %}value="{{ query }}"{% end %}>
                    <button class="two columns">Buscar</button>
                </form>
            </div>
            <div id="results" class="row">
                {% for item in results %}
                    <p>
                        <a href="{{ item['url'] }}">{{ item['title'] }}</a>
                    </p>
                {% end %}
            </div>
        </div>
    </body>
</html>
