{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ case['title'] }}</h2>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href='/cases/{{ case['_id'] }}/edit'>Editar</a></div>

{% endif %}

{{ case['overview'] | safe }}

<p>
<strong>Fuente del requerimiento:</strong>
{% if case['requester'] == '0' %}
    Interno
{% else %}
    Externo
{% endif %}
</p>

<ul class="tab">
    <li>
        <a href="#updates" class="tablinks" 
            onclick="openTab(event, 'updates')">Comentarios</a>
    </li>
    <li>
        <a href="#requests" class="tablinks" 
            onclick="openTab(event, 'requests')">Peticiones</a>
    </li>
    <li>
        <a href="#complains" class="tablinks" 
            onclick="openTab(event, 'complains')">Denuncias</a>
    </li>
    <li>
        <a href="#docs" class="tablinks" 
            onclick="openTab(event, 'docs')">Documentos</a>
    </li>
</ul>

<!-- Updats or commentaries section -->
<div id="updates" class="tabcontent">

    {{ macro.listUpdates(updates, 'case', case['_id'], who['_id'], 
        has_right, date) }}
</div>

<!-- Requests section -->
<div id="requests" class="tabcontent">
    
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <div class="Button">
            <a href="/requests/new/?case_id={{ case['_id'] }}">Nueva...</a>
        </div>
    {% endif %}

    {{ macro.listItems('requests', requests) }}

</div>

<!-- Complaint section -->
<div id="complains" class="tabcontent">
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <div class="Button">
            <a href="/complains/new/?case_id={{ case['_id'] }}">Nueva...</a>
        </div>
    {% endif %}
    {{ macro.listItems('complains', complains) }}
</div>

<!-- Document section -->
<div id="docs" class="tabcontent">
    {{ macro.listDocs(docrels, 'case', case['_id'], case['title'], 
        has_right, date) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
