{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ client['name'] }}</h2>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href='/clients/{{ client['_id'] }}/edit'>Editar</a></div>

<p>
Alias: {{ client['alias'] }}<br/>
Rango de edad: {{ ages[client['age'] | int ] }}<br/>
Sexo: {{ client['sex'] }}<br/>
Sector: {{ kinds[client['kind'] | int ] }}<br/>
Grupo vulnerable: {{ vulnerables[client['vulnerable'] | int ] }}<br/>
Organización: {{ client['org'] }}<br/>
Cargo: {{ client['rol'] }}<br/>
Municipio: {{ client['city'] }}<br/>
Teléfonos: {{ client['tel'] }}<br/>
Correos: {{ client['email'] }}<br/>
</p>

{% endif %}

{% endblock %}
