{% extends "layout.html" %}
{% block main %}

<h2>{{ complain['overview'] }}</h2>

{% if has_right %}

<div class="Button"><a href='/complains/{{ complain['_id'] }}/edit'>Editar</a></div>

{% endif %}

<p>
Denuncia: {{ complain['ref'] }}<br/>
Fecha: {{ complain['date'] }}<br/>
Caso: <a href="/cases/{{ case['_id'] }}">{{ case['title'] }}</a><br/>
</p>

<p>
Oficina: <a href="/offices/{{ office['_id'] }}">{{ office['name'] }}</a><br/>
Oficial de información: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
</p>

<p>
<strong>Detalle:</strong>
</p>

{{ complain['detail'] | safe }}

<p>
Estado: {{ complain['status'] }}<br/>
Resultado: {{ complain['result'] }}
</p>

{% if complain['comment'] %}
    <p>
    <strong>Comentarios:<strong><br/>
    {{ complain['comment'] }}
    </p>
{% endif %}

<ul class="tab">
    <li><a href="#updates" class="tablinks" 
        onclick="openTab(event, 'updates')">Actualizaciones</a></li>
    <li><a href="#documents" class="tablinks" 
        onclick="openTab(event, 'docs')">Documentos</a></li>
</ul>

<div id="updates" class="tabcontent">

    <table>
        {% for update in updates %}
            <tr class="ListItem">
                <td>{{ update['date'] }}</td>
                <td>{{ update['detail'] | safe }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if has_right %}
        <form action='/updates/new/' method="post">
            <input type="hidden" name="source" value="complain">
            <input type="hidden" name="source_id" 
                value="{{ complain['_id'] }}">
            <input class="Inline" type="date" size="8" name="date"
                placeholder="Fecha">
            <textarea class="Inline" name="detail" cols="60" rows="10"
                placeholder="Detalle"></textarea>
            <button>Actualizar</button>
        </form>
{% endif %}

</div>

<div id="docs" class="tabcontent">

    <table>
        {% for dr in docrels %}
	  <tr class="ListItem">
              <td>{{ dr['date'] }}</td>
	      <td>
		<a href="/docs/{{ dr['_id'] }}">{{ dr['title'] }}</a>
              </td>
	     </tr>
        {% endfor %}
    </table>

    {% if has_right %}

    <form action="/docrels/newdoc/" method="post" enctype="multipart/form-data">
        <input class="TextInput" name="title" placeholder="Título del documento"
            required>
        <input class="TextInput" name="file" type="file" required>
        <input type="hidden" name="prefix" value="{{ complain['overview'] }}">
        <input type="hidden" name="source" value="complain">
        <input type="hidden" name="source_id" value="{{ complain['_id'] }}">
        <button>Enviar</button>
    </form>

    {% endif %}
 
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
