{% extends "form.html" %}
{% block form %}

    <form action="/complains/{{ _id }}" method="post">
        <label>Referencia</label>
        <input class="TextInput" name="ref" value="{{ complain['ref'] }}">
        <label>Fecha</label>
        <input class="TextInput" type="date" name="date" 
            value="{{ complain['date'] }}" required>
        <label>Asunto</label>
        <input class="TextInput" name="overview" 
            value="{{ complain['overview'] }}" required>
        <label>Detalle</label>
        <textarea class="TextArea" name="detail" required>{{ complain['detail'] }}</textarea>
        <label>Caso</label>
        <select name="case_id">
            {% for case in cases %}
                <option value="{{ case['_id'] }}" {% if case['_id']|string() == complain['case_id']|string() %}selected{% endif %}>{{ case['title'] }}</option>
            {% endfor %}
        </select>
        <label>Oficina denunciada</label>
        <select name="office_id">
            {% for office in offices %}
                <option value="{{ office['_id'] }}" {% if office['_id']|string() == complain['office_id']|string() %}selected{% endif %}>{{ office['acronym'] }} - {{ office['name'] }}</option>
            {% endfor %}
        </select>
        <label>Oficina revisora</label>
        <select name="reviewer_id">
            {% for office in reviewers %}
                <option value="{{ office['_id'] }}" {% if office['_id']|string() == complain['reviewer_id']|string() %}selected{% endif %}>{{ office['acronym'] }} - {{ office['name'] }}</option>
            {% endfor %}
        </select>
        <label>Inicio del trámite</label>
        <input class="TextInput" type="date" name="start" value="{{ complain['start'] }}">
        <label>Finalización del trámite</label>
        <input class="TextInput" type="date" name="finish" value="{{ complain['finish'] }}">
        <label>Estado</label>
        <select name='status'>
            {% for s in status %}
                <option value="{{ loop.index0 }}" {% if complain['status']|int() == loop.index0 %}selected{% endif %}>{{ s }}</option>
            {% endfor %}             
        </select>
        <label>Resultado</label>
        <select name='result'>
            {% for k in results %}
                <option value="{{ k }}" {% if complain['result']|string() == k|string() %}selected{% endif %}>{{ results[k] }}</option>
            {% endfor %}
        </select>
        <label>Comentarios</label>
        <textarea class="TextArea" name="comment">{{ complain['comment'] }}</textarea>
        <button>Enviar</button>
    </form>

{% endblock %}
