{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h3>Denuncias</h3>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href="/complains/new/">Nueva...</a></div>

{% endif %}

<nav>
    <ul class="tab">
        <li><a href="#" class="tablinks" onclick="openTab(event, 'running')">En trámite</a></li>
        <li><a href="#" class="tablinks" onclick="openTab(event, 'drafts')">Borradores</a></li>
        <li><a href="#" class="tablinks" onclick="openTab(event, 'done')">Cerradas</a></li>
    </ul>
</nav>

<hr/>

<div id="running" class="tabcontent">
    {{ macro.listItems('complains', running) }}
</div>

<div id="drafts" class="tabcontent">
    {{ macro.listItems('complains', drafts) }}
</div>

<div id="done" class="tabcontent">
    {{ macro.listItems('complains', done) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
