{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ complain['overview'] }}</h2>

{% if has_right %}

<div class="Button"><a href='/complains/{{ complain['_id'] }}/edit'>Editar</a></div>

{% endif %}

<p>
Denuncia: {{ complain['ref'] }}<br/>
Fecha: {{ complain['date'] }}<br/>
Caso: <a href="/cases/{{ case['_id'] }}">{{ case['title'] }}</a><br/>
</p>

<p>
Oficina: <a href="/offices/{{ office['_id'] }}">{{ office['name'] }}</a><br/>
Oficial de información: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
</p>

<p>
<strong>Detalle:</strong>
</p>

{{ complain['detail'] | safe }}

<p>
Estado: {{ complain['status'] }}<br/>
Resultado: {{ complain['result'] }}
</p>

{% if complain['comment'] %}
    <p>
    <strong>Comentarios:</strong><br/>
    {{ complain['comment'] }}
    </p>
{% endif %}

<ul class="tab">
    <li><a href="#updates" class="tablinks" 
        onclick="openTab(event, 'updates')">Comentarios</a></li>
    <li><a href="#documents" class="tablinks" 
        onclick="openTab(event, 'docs')">Documentos</a></li>
</ul>

<div id="updates" class="tabcontent">
    {{ macro.listUpdates(updates, 'complain', complain['_id'], who['_id'], 
                         has_right, date) }}
</div>

<div id="docs" class="tabcontent">
    {{ macro.listDocs(docrels, 'complain', complain['_id'],
    complain['overview'], has_right, date) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
