{% extends "form.html" %}
{% block form %}

{% if message != '' %}
  <span class="MenuCaution">{{ message }}</span>
{% endif %}

<form action="/docs/{{ _id }}/edit" method="post" enctype="multipart/form-data">
    <label>Título</label>
    <input class="TextInput" name="title" value="{{ doc['title'] }}">
    <label>Fecha</label>
    <input class="TextInput" name="date" value="{{ doc['date'] }}">
    <label>Descripción</label>
    <textarea class="TextArea" name="overview">{{ doc['overview'] }}</textarea>
    <label>Etiquetas</label>
    <input class="TextInput" name="tags" value="{{ doc['tags'] }}">
    <label>Archivo</label>
    <input class="TextInput" name="file" type="file" value="{{ doc['tags'] }}">
    <input name="path" type="hidden" value="{{ doc['path'] }}">
    <button>Enviar</button>
</form>

{% endblock %}
