{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block title %}Expedientes{% endblock %}
{% block super %}<h2>Expedientes</h2>{% endblock %}
{% block dosiers %}background1{% endblock %}


{% block main %}

<div class="row background-light-gray">
    <div class="two columns center">
        <a href="/requests">
            <img src="/static/third/icons/svg/notebook.svg" width="64px">
        </a>
    </div>
    <div class="ten columns">
        <p><a href="/requests">Peticiones de información</a></p>
        <p>
        Peticiones de información tramitadas desde ALAC. Cada
        expediente contiene una descripción de la petición y de su estado, un
        registro de los eventos o incidentes relacionados con el trámite de la
        petición y enlaces a los documentos que conforman el caso.
        </p>
    </div>
</div>

<div class="row background-white-gray">
    <div class="two columns center">
        <a href="/complains">
            <img src="/static/third/icons/svg/binders.svg" width="64px">
        </a>
    </div>
    <div class="ten columns">
        <p><a href="/complains">Denuncias</a></p>
        <p>
         Denuncias tramitadas desde ALAC por denegación de
         información, actos irregulares o uso indebido de recursos públicos.
         Cada expediente contiene una descripción de la denuncia y de su estado,
         un registro de los eventos o incidentes relacionados con el trámite de
         la denuncia y enlaces a los documentos que conforman el caso.
        </p>
    </div>
</div>

<div class="row background-light-gray">
    <div class="two columns center">
        <a href="/offices">
            <img src="/static/third/icons/svg/address-card.svg" width="64px">
        </a>
    </div>
    <div class="ten columns">
        <p><a href="/offices">Oficinas</a></p>
        <p>
        Oficinas de acceso de la información y de recepción de
        denuncias. En la página de cada oficina hay referencias a peticiones o
        denuncias que ALAC ha tramido ante ellas.
        </p>
    </div>
</div>

{% if who['kind'] in ['OPR', 'MNR'] %}

<div class="row background-light-gray">
    <div class="two columns center">
        <a href="/offices">
            <img src="/static/third/icons/svg/avatar.svg" width="64px">
        </a>
    </div>
    <div class="ten columns">
        <p><a href="/clients">Clientes</a></p>
        <p>
            Usuarios de ALAC
        </p>
    </div>
</div>


{% endif %}

{% endblock %}
