<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALAC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/third/skeleton/css/normalize.css">
        <link rel="stylesheet" href="/static/third/skeleton/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <!--
        <div class="container">
            <div style="position:fixed;bottom:0px;right:0px">
        <a href="https://www.facebook.com/ALAC-El-Salvador-445340615507839/">
            <img src="/static/images/facebook.png" align="right" width="32px">
        </a>
            </div>
            <div style="position:fixed;bottom:32px;right:0px">
        <a href="https://twitter.com/ALAC_SV">
            <img src="/static/images/twitter.png" align="right" width="32px">
        </a>
            </div>
        -->
            <div class="row center">
                    <h3>ALAC</h3>
                    <big>Centro de Asesoría Legal Anticorrupción</big><br/>
                <small>"Tienes derecho a pedir información y a denunciar irregularidades en los servicios públicos"</small>
            </div>
            <nav class="center">
                <ul>
                    <li><a href="/start">Inicio</a></li>
                    <li><a href="/ticket">Consultar</a></li>
                    <li><a href="/notes">Blog</a></li>
                    <li><a href="/requests">Peticiones</a></li>
                    <li><a href="/complains">Denuncias</a></li>
                    <li><a href="/offices">Directorio</a></li>
                    <li><a href="/faq">Acerca de</a></li>
                </ul>
            </nav>

            {% block main %}{% endblock %}
            
            <hr/>
            <div class="row center">
                <small>
                    <div class="four columns">
                <p>
                    Correo: <a href="mailto:alac@funde.org">alac@funde.org</a> - Tel. +503 2209-5324<br/>
                    Calle Arturo Ambrogi No. 411, Col. Escalón<br/>
                    San Salvador, El Salvador, C.A.
                </p>
                    </div>
                    <div class="four columns">
                <p>
                        ALAC es un servicio de la 
                        <a href="http://www.funde.org">Fundación Nacional para el Desarrollo</a>
                        (FUNDE), capítulo nacional de 
                        <a href="http://transparency.org">Transparencia Internacional</a>.
                    </div>
                    <div class="four columns">
                </p>
                <p>
                    Hecho con software libre: <a href="https://github.com/fundeIT/ALAC">Repositorio del código fuente</a>
                </p>
                    </div>

                </small>
            </div>


            </div>

        </div>
    </body>
</html>
