{% macro listItems(type, items) %}
{% for item in items%}
    <div class="row">
        <small>{{ item['date'] }}: {{ item['office'] }}</small><br/>
        <a href="/{{ type }}/{{ item['_id'] }}">{{ item['overview'] }}</a>
    </div>
{% endfor %}
{% endmacro %}

{% macro listUpdates(updates, source, source_id, user_id, has_right, date, operator=False) %}
<div class="row">
    {% for update in updates %}
    <p>
            {{ update['date'] }}:
            {{ update['detail'] }}
            {% if has_right %}
            <small>({{ update['user_name'] }})</small>
            {% endif %}
            {% if operator %}
                <a href="/updates/{{ update['_id'] }}/delete">
                    <img src="/static/images/del.svg" alt="Eliminar">
                </a>
            {% endif %}
    </p>
    {% endfor %}
</div>
{% if has_right %}
    <form action='/updates/new/' method="post">
        <input type="hidden" name="source" value="{{ source }}">
        <input type="hidden" name="source_id" value="{{ source_id }}">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="date" name="date" value="{{ date }}">
        <textarea class="u-full-width" name="detail" placeholder="Detalle"></textarea>
        <button>Actualizar</button>
    </form>
{% endif %}
{% endmacro %}

{% macro listDocs(docrels, source, source_id, prefix, has_right, date) %}
        {% for dr in docrels %}
        <div class="row">
        {{ dr['date'] }}: <a href="/docs/{{ dr['_id'] }}">{{ dr['title'] }}</a>
        </div>
        {% endfor %}
    {% if has_right %}
    <p><strong>Agregar nuevo documento:</strong></p>
    <form action="/docrels/newdoc/" method="post" enctype="multipart/form-data">
        <input type="date" name="date" value="{{ date }}">
        <input class="u-full-width" name="title" placeholder="Título del documento. Ej. Peticion." required>
        <input name="file" type="file" required>
        <p>Nombre el archivo con el siguiente esquema:
        entidad-titulo-tipo-año.<br/>
        Por ejemplo bcr-existencia-colones-apelacion-2016.pdf</p>
        <input type="hidden" name="prefix" value="{{ prefix }}">
        <input type="hidden" name="source" value="{{ source }}">
        <input type="hidden" name="source_id" value="{{ source_id }}">
        <button>Enviar</button>
    </form>
    <p><strong>Agregar documento existente:</strong></p>
    <form action="/docrels/new/" method="post">
        <input class="u-full-width" name="doc_id" placeholder="URL del documento" required>
        <input type="hidden" name="source" value="{{ source }}">
        <input type="hidden" name="source_id" value="{{ source_id }}">
        <button>Enviar</button>
    </form>
    {% endif %}
{% endmacro %} 
