{% extends "layout.html" %}
{% block main %}

<ul class="tab">
    <li><a href="#" class="tablinks" onclick="openTab(event,
            'requests')">Peticiones</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event,
            'complains')">Denuncias</a></li>
</ul>

<div id="requests" class="tabcontent">
    {% if who['kind'] in ['OPR', 'USR', 'MNR', 'GSS'] %}
        <div class="MenuItem"><a href="/requests/new/">Nueva...</a></div>
    {% endif %}

    <table>
    {% for request in requests%}
    <tr class="ListItem">
        <td>{{ request['ref'] }}</td>
        <td><a href="/requests/{{ request['_id'] }}">{{ request['overview']
                }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<div id="complains" class="tabcontent">
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <div class="MenuItem"><a href="/complains/new/">Nueva...</a></div>
    {% endif %}
    <table>
    {% for complain in complains %}
    <tr class="ListItem">
        <td>{{ complain['ref'] }}</td>
        <td><a href="/complains/{{ complain['_id'] }}">{{ complain['overview']
                }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
