{% extends "layout.html" %}
{% block main %}

<h2>{{ office['name'] }}<br/></h2>

<div class="MenuItem"><a href='/offices/{{ office['_id'] }}/edit'>Editar</a></div>

<p>
Siglas: {{ office['acronym'] }}<br/>
Oficial: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
Teléfono: {{ office['phone'] }}<br/>
</p>

<ul class="tab">
    <li><a href="#" class="tablinks" onclick="openTab(event, 'requests')">Peticiones</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'complains')">Denuncias</a></li>
</ul>

<div id="requests" class="tabcontent">
    <div class="MenuItem"><a href="/requests/new/?office_id={{ office['_id'] }}">Nueva...</a></div>
    <ul class="List">
    {% for request in requests %}
        <li class="ListItem">{{ request['ref'] }}. <a href="/requests/{{ request['_id'] }}">{{ request['overview'] }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="complains" class="tabcontent">
    <div class="MenuItem"><a href="/complains/new/?office_id={{ office['_id'] }}">Nueva...</a></div>
    <ul class="List">
    {% for complain in complains %}
        <li class="ListItem">{{ complain['ref'] }}. <a href="/complains/{{ complain['_id'] }}">{{ complain['overview'] }}</a></li>
    {% endfor %}
    </ul>
</div>

<script>
function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>


{% endblock %}
