{% extends "layout.html" %}
{% block main %}

<h3>Oficinas</h3>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href="/offices/new/">Nuevo...</a></div>

{% endif %}

<p>Directorio de oficinas de acceso a la información pública y de recepción de denuncias de corrupción.</p> 

    {% for office in offices %}
            <p>
                <a href="/offices/{{ office['_id'] }}">
                    {{ office['name'] }}
                </a>
                    <small>({{ office['acronym'] }})</small>
        </p>
    {% endfor %}
</table>


{% endblock %}
