{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ office['name'] }}<br/></h2>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="Button"><a href='/offices/{{ office['_id'] }}/edit'>Editar</a></div>

{% endif %}

<p>
Siglas: {{ office['acronym'] }}<br/>
Oficial: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
Teléfono: {{ office['phone'] }}<br/>
</p>

<p><strong>Notas:</strong></p>

{{ office['notes'] | safe }}

<ul class="tab">
    <li><a href="#" class="tablinks" 
           onclick="openTab(event, 'requests')">Peticiones</a></li>
    <li><a href="#" class="tablinks" 
           onclick="openTab(event, 'complains')">Denuncias</a></li>
    <li><a href="#" class="tablinks" 
            onclick="openTab(event, 'updates')">Notas</a></li>
</ul>

<div id="requests" class="tabcontent">

    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <div class="MenuItem"><a href="/requests/new/?office_id={{ office['_id'] }}">Nueva...</a></div>
    {% endif %}
    {{ macro.listItems('requests', requests) }}
</div>

<div id="complains" class="tabcontent">
    
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <div class="MenuItem"><a href="/complains/new/?office_id={{ office['_id'] }}">Nueva...</a></div>
    {% endif %}
    {{ macro.listItems('complains', complains) }}
</div>

<div id="updates" class="tabcontent">
    
    {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
        <form action='/updates/new/' method="post">
            <input type="hidden" name="source" value="office">
            <input type="hidden" name="source_id" 
                   value="{{ office['_id'] }}">
            <input class="Inline" type="date" size="8" 
                   name="date" placeholder="Fecha">
            <textarea class="Inline" name="detail" 
                      cols="60" rows="10" placeholder="Detalle"></textarea>
            <button>Agregar</button>
        </form>
    {% endif %}

    <table>
        {% for update in updates %}
        <tr class="ListItem">
            <td>{{ update['date'] }}</td> 
            <td>{{ update['detail'] | safe }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
