{% extends "layout.html" %}
{% block main %}

<div class="row background-light-gray">
    <div class="three columns center">
        <img src="/static/third/icons/svg/address-card.svg" width="64px">
    </div>
    <div class="nine columns">
        Directorio de oficinas de acceso de la información y de recepción de
        denuncias. En la página de cada oficina hay referencias a peticiones o
        denuncias que ALAC ha tramido ante ellas.
        {% if who['kind'] in ['OPR', 'USR', 'MNR'] %}
            [<a href="/offices/new/">Nueva...</a>]
        {% endif %}
    </div>
</div>

{% for office in offices %}
    <div class="row">
        <a href="/offices/{{ office['_id'] }}">
            {{ office['name'] }}
        </a>
        <small>({{ office['acronym'] }})</small>
    </div>
{% endfor %}

{% endblock %}
