{% extends "layout.html" %}
{% block main %}

{% if who['kind'] in ['OPR', 'USR', 'MNR', 'GSS'] %}

<div class="Button"><a href="/requests/new/">Nueva...</a></div>

{% endif %}

<ul class="tab">
    <li><a href="#" class="tablinks" onclick="openTab(event, 'running')">En trámite</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'drafts')">Borradores</a></li>
    <li><a href="#" class="tablinks" onclick="openTab(event, 'done')">Cerradas</a></li>
</ul>

<div id="running" class="tabcontent">
    <table>
    {% for request in running %}
    <tr class="ListItem">
        <td>{{ request['date'] }}</td>
        <td><a href="/requests/{{ request['_id'] }}">{{
                request['overview'] }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<div id="drafts" class="tabcontent">
    <table>
    {% for request in drafts %}
    <tr class="ListItem">
        <td>{{ request['date'] }}</td>
        <td><a href="/requests/{{ request['_id'] }}">{{
                request['overview'] }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<div id="done" class="tabcontent">
    <table>
    {% for request in done %}
    <tr class="ListItem">
        <td>{{ request['date'] }}</td>
        <td><a href="/requests/{{ request['_id'] }}">{{
                request['overview'] }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
