{% import 'macros.html' as macro %}
{% extends "layout.html" %}
{% block main %}

<div class="row background-light-gray">
    <div class="three columns center">
        <img src="/static/third/icons/svg/notebook.svg" width="64px">
    </div>
    <div class="nine columns">
        Expedientes de las peticiones de información tramitadas desde ALAC.
        Cada expediente contiene una descripción de la petición y de su
        estado, un registro de los eventos o incidentes relacionados con el
        trámite de la petición y enlaces a los documentos que conforman el
        caso.
    </div>
</div>

<nav>
    <ul class="tab">
        <li><a href="#running" class="tablinks" onclick="openTab(event, 'running')">En trámite</a></li>
        <li><a href="#drafts" class="tablinks" onclick="openTab(event, 'drafts')">Borradores</a></li>
        <li><a href="#done" class="tablinks" onclick="openTab(event, 'done')">Cerradas</a></li>
        {% if who['kind'] in ['OPR', 'USR', 'MNR', 'GSS'] %}
            <li><a href="/requests/new/">Nueva...</a></li>
        {% endif %}
    </ul>
</nav>

<div id="running" class="tabcontent">
    {{ macro.listItems('requests', running) }}
</div>

<div id="drafts" class="tabcontent">
    {{ macro.listItems('requests', drafts) }}
</div>

<div id="done" class="tabcontent">
    {{ macro.listItems('requests', done) }}
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
