{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ req['overview'] }}</h2>

{% if has_right %}

{% if req['status'] != 'Cerrada' %}
<div class="Button"><a href='/requests/{{ req['_id'] }}/edit'>Editar</a></div>
{% endif %}

{% if who['kind'] in ['OPR', 'MNG'] %} 
    {% if req['status'] == 'Borrador' %}
    <div class="Button">
        <a href="/requests/{{ req['_id'] }}/forward">Tramitar</a>
    </div>
    {% elif req['status'] == 'En trámite' %}
    <div class="Button">
        <a href="/requests/{{ req['_id'] }}/close">Cerrar</a>
    </div>
    {% endif %}
{% endif %}

{% endif %}

<p>
Petición: {{ req['ref'] }}<br/>
Fecha: {{ req['date'] }}<br/>
Caso: <a href="/cases/{{ case['_id'] }}">{{ case['title'] }}</a><br/>
</p>

<p>
Oficina: <a href="/offices/{{ office['_id'] }}">{{ office['name'] }}</a><br/>
Oficial de información: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
</p>

<p>
Estado: {{ req['status'] }}<br/>
Resultado: {{ req['result'] }}
</p>

{% if req['start'] %}
<p>
Inicio del trámite: {{ req['start'] }}<br/>
Finalización del trámite: {{ req['finish'] }}
</p>
{% endif %}

<p><strong>Detalle:</strong></p>

{{ req['detail'] | safe }}

{% if req['comment'] %}
<p>
<strong>Comentarios:</strong><br/>
{{ req['comment'] | safe }}
</p>
{% endif %}

<ul class="tab">
    <li><a href="#updates" class="tablinks" 
        onclick="openTab(event, 'updates')">Comentarios</a></li>
    <li><a href="#documents" class="tablinks" 
        onclick="openTab(event, 'docs')">Documentos</a></li>
</ul>

<div id="updates" class="tabcontent">
    {{ macro.listUpdates(updates, 'request', req['_id'], who['_id'], 
                         has_right, date) }}
</div>

<div id="docs" class="tabcontent">

    <table>
        {% for dr in docrels %}
	  <tr class="ListItem">
              <td>{{ dr['date'] }}</td>
	      <td>
		<a href="/docs/{{ dr['_id'] }}">{{ dr['title'] }}</a>
              </td>
	     </tr>
        {% endfor %}
    </table>

    {% if has_right %}

    <p>Agregar documento:</p>
    <form action="/docrels/newdoc/" method="post" enctype="multipart/form-data">
        <input class="TextInput" name="title" placeholder="Título del documento.
        Ej. Peticion." required>
        <p>Nombre el archivo con el siguiente esquema: entidad-titulo-tipo-año.<br/>
    Por ejemplo bcr-existencia-colones-apelacion-2016.pdf</p>
        <input class="TextInput" name="file" type="file" required>
        <input type="hidden" name="prefix" value="{{ req['overview'] }}">
        <input type="hidden" name="source" value="request">
        <input type="hidden" name="source_id" value="{{ req['_id'] }}">
        <button>Enviar</button>
    </form>

    {% endif %}
 
</div>

<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
