{% extends "layout.html" %}
{% block main %}

<h2>{{ req['overview'] }}</h2>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

<div class="MenuItem"><a href='/requests/{{ req['_id'] }}/edit'>Editar</a></div>

{% endif %}

<p>
Petición: {{ req['ref'] }}<br/>
Fecha: {{ req['date'] }}<br/>
Caso: <a href="/cases/{{ case['_id'] }}">{{ case['title'] }}</a><br/>
</p>

<p>
Oficina: <a href="/offices/{{ office['_id'] }}">{{ office['name'] }}</a><br/>
Oficial de información: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
</p>

<p>
Estado: {{ req['status'] }}<br/>
Resultado: {{ req['result'] }}
</p>

{% if req['start'] %}
<p>
Inicio del trámite: {{ req['start'] }}<br/>
Finalización del trámite: {{ req['finish'] }}
</p>
{% endif %}

<p><strong>Detalle:</strong></p>

{{ req['detail'] | safe }}

{% if req['comment'] %}
<p>
Comentarios:<br/>
{{ req['comment'] | safe }}
</p>
{% endif %}

<p><strong>Bitácora:</strong></p>

<table>
    {% for update in updates %}
        <tr class="ListItem">
			<td>{{ update['date'] }}</td>
			<td>{{ update['detail'] | safe }}</td>
		</tr>
    {% endfor %}
</table>

{% if who['kind'] in ['OPR', 'USR', 'MNR'] %}

    <form action='/updates/new/' method="post">
        <input type="hidden" name="source" value="request">
        <input type="hidden" name="source_id" value="{{ req['_id'] }}">
        <input class="Inline" type="date" size="8" name="date" 
			placeholder="Fecha">
        <textarea class="Inline" name="detail" cols="60" rows="10" 
			placeholder="Detalle"></textarea>
        <button>Actualizar</button>
    </form>

{% endif %}

{% endblock %}
