{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block main %}

<h2>{{ req['overview'] }}</h2>


{% if has_right %}

	{% if req['status'] != 'Cerrada' or who['kind'] == 'OPR' %}
		<div class="Button"><a href='/requests/{{ req['_id'] }}/edit'>Editar</a></div>
	{% endif %}

	{% if who['kind'] in ['OPR', 'USR', 'MNG'] %} 
	    {% if req['status'] == 'Borrador' %}
		    <div class="Button">
			<a href="/requests/{{ req['_id'] }}/forward">Tramitar</a>
		    </div>
	    {% elif req['status'] == 'En trámite' %}
		    <div class="Button">
			<a href="/requests/{{ req['_id'] }}/close">Cerrar</a>
		    </div>
	    {% endif %}
	{% endif %}

{% endif %}

<p>
Petición: {{ req['ref'] }}<br/>
Fecha: {{ req['date'] }}<br/>
Caso: <a href="/cases/{{ case['_id'] }}">{{ case['title'] }}</a><br/>
</p>

<p>
Oficina: <a href="/offices/{{ office['_id'] }}">{{ office['name'] }}</a><br/>
Oficial de información: {{ office['officer'] }}<br/>
Correo: {{ office['email'] }}<br/>
</p>

<p>
Estado: {{ req['status'] }}<br/>
Resultado: {{ req['result'] }}
</p>

{% if req['start'] %}
<p>
Inicio del trámite: {{ req['start'] }}<br/>
Finalización del trámite: {{ req['finish'] }}
</p>
{% endif %}

<p><strong>Detalle:</strong></p>

{{ req['detail'] | safe }}

{% if req['comment'] %}
<p>
<strong>Comentarios:</strong><br/>
{{ req['comment'] | safe }}
</p>
{% endif %}

<ul class="tab">
    <li><a href="#updates" class="tablinks" 
	onclick="openTab(event, 'updates')">Comentarios</a></li>
    <li><a href="#docs" class="tablinks" 
	onclick="openTab(event, 'docs')">Documentos</a></li>
</ul>

<div id="updates" class="tabcontent">
    {{ macro.listUpdates(updates, 'request', req['_id'], who['_id'], 
			 has_right, date, who['kind']=='OPR') }}
</div>

<div id="docs" class="tabcontent">
    {{ macro.listDocs(docrels, 'request', req['_id'], req['overview'], has_right, date) }}
</div>


<script src="{{ url_for('static', filename='tabs.js') }}"></script>

{% endblock %}
