{% extends "begin.html" %}

{% block main %}

<div class="row">
    <div class="six columns">
        <a href="/ticket">
        <div class="main-button center">
            <img class="logo-min" src="/static/images/report.png">
            DENUNCIA
        </div>
        </a>
    </div>
    <div class="six columns">
        <a href="/ticket">
        <div class="main-button center">
            <img class="logo-min" src="/static/images/ask.png">
            ASESORATE
        </div>
        </a>
    </div>
    <div class="columns twelve">
    <a href="followup">
    <div class="main-button center">
        REVISA EL ESTADO DE TU CASO
    </div>
    </a>
    </div>

</div>
{% endblock %}
