{% extends "begin.html" %}

{% block main %}
<br/>


<nav>
    <ul class="tab">
        <li><a href="#dosiers" class="tablinks" onclick="openTab(event, 'dosiers')">Buscar</a></li>
        <li><a href="#report" class="tablinks active" onclick="openTab(event, 'report')">Denunciar</a></li>
        <li><a href="#followup" class="tablinks" onclick="openTab(event, 'followup')">Seguimiento</a></li>
    </ul>
</nav>

<div id="dosiers" class="row tabcontent">
    <div class="four columns">
        <div class="center">
            <img src="/static/third/icons/svg/folder-ribbon.svg" width="48px">
        </div>
        <p>
            <small>
                Puede consultar expedientes de solicitudes de información,
                apelaciones y denuncias tramitadas por ALAC. Cada expediente
                contiene un registro del trámite realizado, las solicitudes
                o escritos formulados y los documentos entregados por las
                instituciones.
            </small>
        </p>
    </div>
    <div class="columns eight">
    <strong>Búsqueda en expedientes</strong><br/><br/>
    <form action="/search" method="post"> 
        <input class="u-full-width" name="words" value="{{ words }}"
                                                placeholder="Palabras de búsqueda">
        <button class="">Buscar</button>
    </form>
    </div>
</div>


<div id="report" class="row tabcontent">
    <div class="four columns">
        <div class="center">
            <img src="/static/third/icons/svg/checklist.svg" width="48px">
        </div>
        <p>
            <small>
                Su consulta o denuncia es confidencial. Describa su requerimiento
                de información pública o la irregularidad que desea
                reportar.  Entre los datos, si es pertinente, mencione:
                nombres, lugares, períodos o fechas, circunstancias,
                etc. Si desea dar seguimiento, indique sus datos de
                contacto.
            </small>
        <p>
    </div>
    <div class="eight columns">
        <form action="/ticket/new" method="post">
            <input name="year" type="hidden" value="2019">
            <input name="ticket" type="hidden" value="0">
            <input name="ticket_id" type="hidden" value="None">
            <label>Consultas y denuncias</label>
            <textarea class="u-full-width" name="msg" rows="10" placeholder="Describa su consulta o denuncia" required></textarea>
            <input name="email" type="email" placeholder="Correo electrónico">
            <button class="button-primary" id="send">Enviar</button>
        </form>
    </div>
</div>

<div id="followup" class="row tabcontent">
    <div class="four columns">
        <div class="center">
            <img src="/static/third/icons/svg/calendar.svg" width="48px">
        </div>
        <p>
            <small>
                Luego de hacer su consulta, si ha indicado su dirección de correo,
                recibirá un número de ticket, con el cual podrá dar
                seguimiento al requerimiento. Si no cuenta con su número de
                ticket, puede llamar a las oficinas de ALAC para que se lo
                brinden. Recuerde que el servicio es confidencial.
            </small>
        </p>

    </div>
    <div class="columns eight">
        <strong>Seguimiento</strong><br/><br/>
        <form action="/ticket" method="post">
            <input class="u-full-width" type="text" name="year" placeholder="Año" value="{{ year }}" required>
            <input class="u-full-width" type="text" name="ticket" value="{{ ticket }}" placeholder="Número de ticket" required>
            <input class="u-full-width" name="email" type="email" value="{{ email }}" placeholder="Correo electrónico" required>
            <button class="button-primary">Enviar</button>
            <input type="checkbox" name="remember" {% if remember %}checked{% endif %}>Recordar
        </form>
    </div>

</div>


<script src="{{ url_for('static', filename='tabs.js') }}"></script>

<hr>

{% endblock %}
