{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block main %}

<h1>Tickets de usuarios</h1>

<table>
    
    {% for ticket in tickets %}
    
    <tr class="ListItem">

        <td>{{ ticket['ticket'] }}</td>
        <td>{{ ticket['date'] }}</td>
        <td>
            {% if ticket['email'] != '' %} 
                <strong>{{ ticket['email'] }}: </strong>
            {% endif %}
            {{ ticket['msg'] }}
        </td>
        <td>
            <form action="/ticket" method="post" target="_blank">
                <input type="hidden" name="year" value="{{ ticket['year'] }}">
                <input type="hidden" name="email" value="{{ ticket['email'] }}">
                <input type="hidden" name="ticket" 
                       value="{{ ticket['ticket'] }}">
                <button>Consultar</button>
            </form>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}
